
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(170, 169, 169);
  }
  
  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
  }
  
  .text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input {
    margin-top: 25px;
    width: 250px;
    height: 35px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    margin-top: 50px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .textbox {
    border-radius: 10px;
    width: 500px;
    padding: 10px;
    margin-bottom: 30px;
  }